# vim: syntax=bash
# Setting up mutt identity

set realname = "David Vernet"
set from = "void@manifault.com"

# Login and Passwords
#
# Note: # To create a file with an encrypted password, use the following
# incantation:
# echo -n 'mypassword' | gpg --encrypt -r void@manifault.com > ~/.personal_configs/mutt/mailboxes/manifault.gpg

# IMAP / SMTP password.
set imap_user = "void@manifault.com"
set imap_oauth_refresh_command = "/home/void/.personal_configs/bin/mutt_manifault.sh"
set imap_authenticators = "oauthbearer"

#set smtp_url = "smtp://dcvernet@gmail.com@$MUTT_SMTP_URL/"
#set smtp_pass = $my_password
