# vim: syntax=bash
#
# The default settings for the mailer.

# Don't move to the next message once you reach the end of a message.
set pager_stop

# Sort messages with the most recently received starting at the top.
set sort = reverse-date-received

# Allow editing headers when composing a message.
set edit_headers

# Obviously
set editor = "vim"

# Remember to `mkdir -p ~/.mutt/hcache` first:
set header_cache= "~/.mutt/hcache"

###############
# Pager settings
#
ignore *
unignore From Message-ID Date To Cc Bcc Subject

# Prefer plain text to html.
# However, for brain dead clients that bundle attachments inside a
# multipart/alternative, prefer that alternative.
alternative_order multipart/mixed multipart/related text/plain

# Consult mime.types for determining types of these attachments
mime_lookup application/octet-stream

# This requires a ~/.mailcap entry with the copiousoutput flag, such as:
# text/html; lynx -dump -width ${COLUMNS:-80} %s; nametemplate=%s.html; copiousoutput
auto_view text/html

set mime_type_query_command = "xdg-mime query filetype"

# lbdb is a versatile contact query tool.
# Invoke via ctrl-t in an address prompt
set query_command = "/usr/bin/lbdbq"
